.main {
    width: 100%;
}
section {
    padding: 20px 5px;
    width: 100%;
    border-bottom: 1px solid $color-grayborder;
}
.content-wrap {
    width: 97%;
    margin: 10px auto;
    height: 100%;
}