@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "navigation main"
    }
    header h1 {
        margin-left: 20px;
    }
    .right-side {
        margin-right: 20px;
    }


    .navigation {
        height: 100%;
    }

    .nav-icons {
        height: 300px;
        width: 55px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }
    
    .main {
        display: grid;
        grid-template-columns: 50%;
    }

    .dashboard,
    .alert,
    .traffic,
    .social-stats,
    .new-members,
    .recent-activity,
    .message-user,
    .settings {
        grid-column: 1 / span 2;
    }

    .daily-traffic {
        grid-column: 1 / span 1;
        border-right: 1px solid $color-grayborder;
    }

    .mobile-users{
        grid-column: 2 / span 1;
    }

    .traffic-nav-wrap {
        display: flex;
        flex-direction: row;
    }
    .traffic-options{
        flex-basis: 10%;
        margin: 5px;
    }
    .socials {
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 110px;
        & .social-card {
            margin: 10px 5px;
            width: 225px;
            height: 90px;
        & .social-image {
            height: 35px;
            width: 80px;
                }
        & svg {
            width: 25px;
            }
        }
    }

    .settings-buttons {
        width: 100%;
    }
    .sections {
        padding: 0 2px;
    }

    .new-members h3,
    .recent-activity h3 {
        margin: 5px;
    }
    .toggles {
        display: flex;
        flex-direction: row;
        width: 50%;
        align-items: center;
        margin: 20px 5px;
    }
    
    label {
        margin: 0;
    }
    .members-container {
        display: flex;
        flex-direction: row;
    } & p {
        margin: 0;
    }
    .members-text {
        display: grid;
        justify-content: start;
        align-content: center;
        align-items: center;
        justify-items: start;
    }
    .more-info {
        display: inline;
        color: $color-main;
        padding-right: 15px;
        font-weight: bold;
    }

}

@media (min-width: 1024px) {
    .header h1 {
        margin-left: 20px;
    }
    .right-side {
        margin-right: 20px;
    }
    #traffic-chart {
        height: 200px;
        width: 95%;
    }
    .socials {
        width: 100%;
        & .social-card {
            width: 100%;
        & .social-image {
            width: 70px;
            height: 70px;
        }
        }
    }
    
    .new-members,
    .message-user {
        grid-column: 1 / span 1;
    }

    .recent-activity,
    .settings{
        grid-column: 2 / span 1;
    }
    .new-members,
    .message-user {
        border-right: 1px solid $color-grayborder;
    }
    .toggles {
        margin: 7px 5px;
        width: 70%;
    }
}