
.members-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 0;
    &:nth-of-type(n+2) {
        border-top: 1px solid $color-grayborder;
    }
}
.new-members h3,
.recent-activity h3 {
    margin: 20px 0 30px 10px;
}
.members-text {
    width: 100%;
    padding: 10px 20px;
}