.widget-container,
.settings {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}
.form-field,
.form-area {
    width: 100%;
    margin: 10px 0;
    padding: 5px 10px;
    background-color: $color-grayfill;
    border-radius: 5px;
    border-color: $color-grayborder;
    &::placeholder{
        color: $color-grayborder;
        font-size: 1.25em;
    }
    &:focus{
        border: 2px solid $color-main;
        border-radius: 5px;
    }
}
.form-field {
    height: 50px;
}
.form-area {
    height: 130px;
}

// Toggles
.toggles {
    display: flex;
    flex-direction: row;
    flex-basis: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 20px 5px;
}
.user-option {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
label {
    background-color: $color-main;

    width: 95px;
    height: 35px;
    border-radius: 30px;
    border: 2px solid $color-grayborder;
}

.public {
    margin-left: 73px;
}

input[type="checkbox"] {
    position: relative;
    height: 0;
    width: 95px;
    background-color: $color-main;
    border-radius: 28px;
    transition: .3s;
    border: 2px solid $color-grayborder;
}
input:checked[type="checkbox"] {
    background-color: $color-main;
}
input[type="checkbox"]::before {
    content: '';
    position: relative;
    left: 57px;
    top: -7px;
    padding: 3px 11px;
    outline: none;
    border-radius: 40px;
    background-color: $color-white;
    border: 3px solid $color-grayborder;
    transform: scale(1.1);
    transition: .5s;
    z-index: 1;
}
#public {
    display: flex;
    flex-basis: 50%;
}

.on,
.off {
    position: relative;
    top: -13px;
}
.on {
    left: 9px;
    color: $color-white;
}
.off {
    left: 37px;
}
