.traffic-nav-wrap {
    width: 100%;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
    margin-top: 20px;
    margin-bottom: 15px;
    
}

.traffic-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    

}

.traffic-nav-link {
    margin: 5px auto;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.active {
    background-color: $color-highlight;
    color: $color-white;
}