$color-main: #7679c2;
$color-secondary: #4b4a7e;
$color-highlight: #81c98f;

$color-white: #fff;

$color-grayfill: #f9f8f8;
$color-grayborder: rgb(190, 189, 189);
$color-btngray: #999;

$breakpoint:(
    'mobile': 320px, 
    'tablet': 768px,
    'desktop': 1024px,
);