header h1 {
    font-size: 1.2em;
}
header h2 {
    font-size: 1em;
}
h3 {
    font-size: 1.2em;
}
.dashboard h2 {
    font-size: 1em;
}
.alert {
    font-size: .80em;
    color: white;
}
a {
    color: $color-main;
}

ul {
    margin: 5px auto;
    padding: 5px;
}